<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src = "/js/home/todoadd.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <h3>To Do List</h3><p>
    <input id= "should" type="text" placeholder="할 일"/>
    <button>+</button><p>
    <hr>
  </body>
</html>
